table {
    border-collapse: collapse;
    width:90%;
    margin: 40px;
   
}
  
th, td {
    text-align: left;
    padding: 8px;

}
th{
    background: 	#404040;
    font-weight: bold;
    color:white;
}
  
tr:nth-child(even) {
    background-color: Lightgreen;

}