<!-- <h1 myColor>Welcome to angular {{title}}</h1> -->
<!-- <app-varun></app-varun> -->
<!-- <app-ramesh></app-ramesh> -->
<!-- <app-interpolation-binding></app-interpolation-binding> -->
<!-- <app-property-binding></app-property-binding> -->
<!-- <app-event-binding></app-event-binding> -->
<!-- <app-two-way></app-two-way> -->
<!-- <app-class-style-binding></app-class-style-binding> -->
<!-- <app-pre-directives></app-pre-directives> -->
<!-- <app-attribute-directives></app-attribute-directives> -->
<app-table ></app-table>